.cls-1 {
  fill: url(#linear-gradient-38);
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38,
.cls-39,
.cls-40,
.cls-41,
.cls-42,
.cls-43,
.cls-44,
.cls-45,
.cls-46,
.cls-47,
.cls-48,
.cls-49,
.cls-50,
.cls-51,
.cls-52,
.cls-53,
.cls-54,
.cls-55,
.cls-56,
.cls-57,
.cls-58,
.cls-59,
.cls-60,
.cls-61,
.cls-62,
.cls-63,
.cls-64,
.cls-65,
.cls-66,
.cls-67,
.cls-68,
.cls-69,
.cls-70,
.cls-71,
.cls-72,
.cls-73,
.cls-74,
.cls-75,
.cls-76,
.cls-77,
.cls-78,
.cls-79,
.cls-80,
.cls-81,
.cls-82,
.cls-83,
.cls-84,
.cls-85,
.cls-86,
.cls-87,
.cls-88,
.cls-89,
.cls-90,
.cls-91,
.cls-92,
.cls-93,
.cls-94,
.cls-95,
.cls-96,
.cls-97,
.cls-98,
.cls-99,
.cls-100,
.cls-101 {
  stroke-width: 2px;
}

.cls-16 {
  stroke-width: 0px;
}
.cls-dark-16 {
  stroke-width: 0px;
}

.cls-2 {
  fill: url(#linear-gradient-12);
}

.cls-3 {
  fill: url(#linear-gradient-17);
}

.cls-4 {
  fill: url(#linear-gradient-88);
}

.cls-5 {
  fill: url(#linear-gradient-19);
}

.cls-6 {
  fill: url(#linear-gradient-33);
}

.cls-7 {
  fill: url(#linear-gradient);
}

.cls-8 {
  fill: url(#linear-gradient-62);
}

.cls-9 {
  fill: url(#linear-gradient-92);
}

.cls-10 {
  fill: url(#linear-gradient-98);
}

.cls-11 {
  fill: url(#linear-gradient-67);
}

.cls-12 {
  fill: url(#linear-gradient-57);
}

.cls-13 {
  fill: url(#linear-gradient-21);
}

.cls-14 {
  fill: url(#linear-gradient-6);
}

.cls-15 {
  fill: url(#linear-gradient-76);
}

.cls-16 {
  fill: transparent;
}

.cls-17 {
  fill: url(#linear-gradient-42);
}

.cls-18 {
  fill: url(#linear-gradient-95);
}

.cls-19 {
  fill: url(#linear-gradient-15);
}

.cls-20 {
  fill: url(#linear-gradient-11);
}

.cls-21 {
  fill: url(#linear-gradient-81);
}

.cls-22 {
  fill: url(#linear-gradient-73);
}

.cls-23 {
  fill: url(#linear-gradient-91);
}

.cls-24 {
  fill: url(#linear-gradient-5);
}

.cls-25 {
  fill: url(#linear-gradient-31);
}

.cls-26 {
  fill: url(#linear-gradient-71);
}

.cls-27 {
  fill: url(#linear-gradient-58);
}

.cls-28 {
  fill: url(#linear-gradient-63);
}

.cls-29 {
  fill: url(#linear-gradient-34);
}

.cls-30 {
  fill: url(#linear-gradient-96);
}

.cls-31 {
  fill: url(#linear-gradient-41);
}

.cls-32 {
  fill: url(#linear-gradient-89);
}

.cls-33 {
  fill: url(#linear-gradient-40);
}

.cls-34 {
  fill: url(#linear-gradient-66);
}

.cls-35 {
  fill: url(#linear-gradient-13);
}

.cls-36 {
  fill: url(#linear-gradient-23);
}

.cls-37 {
  fill: url(#linear-gradient-25);
}

.cls-38 {
  fill: url(#linear-gradient-43);
}

.cls-39 {
  fill: url(#linear-gradient-16);
}

.cls-40 {
  fill: url(#linear-gradient-22);
}

.cls-41 {
  fill: url(#linear-gradient-54);
}

.cls-42 {
  fill: url(#linear-gradient-55);
}

.cls-43 {
  fill: url(#linear-gradient-35);
}

.cls-44 {
  fill: url(#linear-gradient-50);
}

.cls-45 {
  fill: url(#linear-gradient-32);
}

.cls-46 {
  fill: url(#linear-gradient-60);
}

.cls-47 {
  fill: url(#linear-gradient-59);
}

.cls-48 {
  fill: url(#linear-gradient-20);
}

.cls-49 {
  fill: url(#linear-gradient-14);
}

.cls-50 {
  fill: url(#linear-gradient-2);
}

.cls-51 {
  fill: url(#linear-gradient-52);
}

.cls-52 {
  fill: url(#linear-gradient-45);
}

.cls-53 {
  fill: url(#linear-gradient-93);
}

.cls-54 {
  fill: url(#linear-gradient-7);
}

.cls-55 {
  fill: url(#linear-gradient-39);
}

.cls-56 {
  fill: url(#linear-gradient-3);
}

.cls-57 {
  fill: url(#linear-gradient-77);
}

.cls-58 {
  fill: url(#linear-gradient-69);
}

.cls-59 {
  fill: url(#linear-gradient-94);
}

.cls-60 {
  fill: url(#linear-gradient-9);
}

.cls-61 {
  fill: url(#linear-gradient-27);
}

.cls-62 {
  fill: url(#linear-gradient-100);
}

.cls-63 {
  fill: url(#linear-gradient-82);
}

.cls-64 {
  fill: url(#linear-gradient-83);
}

.cls-65 {
  fill: url(#linear-gradient-53);
}

.cls-66 {
  fill: url(#linear-gradient-90);
}

.cls-67 {
  fill: url(#linear-gradient-85);
}

.cls-68 {
  fill: url(#linear-gradient-65);
}

.cls-69 {
  fill: url(#linear-gradient-36);
}

.cls-70 {
  fill: url(#linear-gradient-48);
}

.cls-71 {
  fill: url(#linear-gradient-49);
}

.cls-72 {
  fill: url(#linear-gradient-8);
}

.cls-73 {
  fill: url(#linear-gradient-47);
}

.cls-74 {
  fill: url(#linear-gradient-24);
}

.cls-75 {
  fill: url(#linear-gradient-26);
}

.cls-76 {
  fill: url(#linear-gradient-61);
}

.cls-77 {
  fill: url(#linear-gradient-18);
}

.cls-78 {
  fill: url(#linear-gradient-51);
}

.cls-79 {
  fill: url(#linear-gradient-30);
}

.cls-80 {
  fill: url(#linear-gradient-44);
}

.cls-81 {
  fill: url(#linear-gradient-84);
}

.cls-82 {
  fill: url(#linear-gradient-97);
}

.cls-83 {
  fill: url(#linear-gradient-68);
}

.cls-84 {
  fill: url(#linear-gradient-72);
}

.cls-85 {
  fill: url(#linear-gradient-29);
}

.cls-86 {
  fill: url(#linear-gradient-46);
}

.cls-87 {
  fill: url(#linear-gradient-64);
}

.cls-88 {
  fill: url(#linear-gradient-28);
}

.cls-89 {
  fill: url(#linear-gradient-56);
}

.cls-90 {
  fill: url(#linear-gradient-99);
}

.cls-91 {
  fill: url(#linear-gradient-10);
}

.cls-92 {
  fill: url(#linear-gradient-87);
}

.cls-93 {
  fill: url(#linear-gradient-70);
}

.cls-94 {
  fill: url(#linear-gradient-78);
}

.cls-95 {
  fill: url(#linear-gradient-86);
}

.cls-96 {
  fill: url(#linear-gradient-74);
}

.cls-97 {
  fill: url(#linear-gradient-4);
}

.cls-98 {
  fill: url(#linear-gradient-37);
}

.cls-99 {
  fill: url(#linear-gradient-80);
}

.cls-100 {
  fill: url(#linear-gradient-79);
}

.cls-101 {
  fill: url(#linear-gradient-75);
}

.cls-dark-1 {
  fill: url(#linear-gradient-dark-38);
}
.cls-dark-2 {
  fill: url(#linear-gradient-dark-12);
}

.cls-dark-3 {
  fill: url(#linear-gradient-dark-17);
}

.cls-dark-4 {
  fill: url(#linear-gradient-dark-88);
}

.cls-dark-5 {
  fill: url(#linear-gradient-dark-19);
}

.cls-dark-6 {
  fill: url(#linear-gradient-dark-33);
}

.cls-dark-7 {
  fill: url(#linear-gradient-dark);
}

.cls-dark-8 {
  fill: url(#linear-gradient-dark-62);
}

.cls-dark-9 {
  fill: url(#linear-gradient-dark-92);
}

.cls-dark-10 {
  fill: url(#linear-gradient-dark-98);
}

.cls-dark-11 {
  fill: url(#linear-gradient-dark-67);
}

.cls-dark-12 {
  fill: url(#linear-gradient-dark-57);
}

.cls-dark-13 {
  fill: url(#linear-gradient-dark-21);
}

.cls-dark-14 {
  fill: url(#linear-gradient-dark-6);
}

.cls-dark-15 {
  fill: url(#linear-gradient-dark-76);
}

.cls-dark-16 {
  fill: transparent;
}

.cls-dark-17 {
  fill: url(#linear-gradient-dark-42);
}

.cls-dark-18 {
  fill: url(#linear-gradient-dark-95);
}

.cls-dark-19 {
  fill: url(#linear-gradient-dark-15);
}

.cls-dark-20 {
  fill: url(#linear-gradient-dark-11);
}

.cls-dark-21 {
  fill: url(#linear-gradient-dark-81);
}

.cls-dark-22 {
  fill: url(#linear-gradient-dark-73);
}

.cls-dark-23 {
  fill: url(#linear-gradient-dark-91);
}

.cls-dark-24 {
  fill: url(#linear-gradient-dark-5);
}

.cls-dark-25 {
  fill: url(#linear-gradient-dark-31);
}

.cls-dark-26 {
  fill: url(#linear-gradient-dark-71);
}

.cls-dark-27 {
  fill: url(#linear-gradient-dark-58);
}

.cls-dark-28 {
  fill: url(#linear-gradient-dark-63);
}

.cls-dark-29 {
  fill: url(#linear-gradient-dark-34);
}

.cls-dark-30 {
  fill: url(#linear-gradient-dark-96);
}

.cls-dark-31 {
  fill: url(#linear-gradient-dark-41);
}

.cls-dark-32 {
  fill: url(#linear-gradient-dark-89);
}

.cls-dark-33 {
  fill: url(#linear-gradient-dark-40);
}

.cls-dark-34 {
  fill: url(#linear-gradient-dark-66);
}

.cls-dark-35 {
  fill: url(#linear-gradient-dark-13);
}

.cls-dark-36 {
  fill: url(#linear-gradient-dark-23);
}

.cls-dark-37 {
  fill: url(#linear-gradient-dark-25);
}

.cls-dark-38 {
  fill: url(#linear-gradient-dark-43);
}

.cls-dark-39 {
  fill: url(#linear-gradient-dark-16);
}

.cls-dark-40 {
  fill: url(#linear-gradient-dark-22);
}

.cls-dark-41 {
  fill: url(#linear-gradient-dark-54);
}

.cls-dark-42 {
  fill: url(#linear-gradient-dark-55);
}

.cls-dark-43 {
  fill: url(#linear-gradient-dark-35);
}

.cls-dark-44 {
  fill: url(#linear-gradient-dark-50);
}

.cls-dark-45 {
  fill: url(#linear-gradient-dark-32);
}

.cls-dark-46 {
  fill: url(#linear-gradient-dark-60);
}

.cls-dark-47 {
  fill: url(#linear-gradient-dark-59);
}

.cls-dark-48 {
  fill: url(#linear-gradient-dark-20);
}

.cls-dark-49 {
  fill: url(#linear-gradient-dark-14);
}

.cls-dark-50 {
  fill: url(#linear-gradient-dark-2);
}

.cls-dark-51 {
  fill: url(#linear-gradient-dark-52);
}

.cls-dark-52 {
  fill: url(#linear-gradient-dark-45);
}

.cls-dark-53 {
  fill: url(#linear-gradient-dark-93);
}

.cls-dark-54 {
  fill: url(#linear-gradient-dark-7);
}

.cls-dark-55 {
  fill: url(#linear-gradient-dark-39);
}

.cls-dark-56 {
  fill: url(#linear-gradient-dark-3);
}

.cls-dark-57 {
  fill: url(#linear-gradient-dark-77);
}

.cls-dark-58 {
  fill: url(#linear-gradient-dark-69);
}

.cls-dark-59 {
  fill: url(#linear-gradient-dark-94);
}

.cls-dark-60 {
  fill: url(#linear-gradient-dark-9);
}

.cls-dark-61 {
  fill: url(#linear-gradient-dark-27);
}

.cls-dark-62 {
  fill: url(#linear-gradient-dark-100);
}

.cls-dark-63 {
  fill: url(#linear-gradient-dark-82);
}

.cls-dark-64 {
  fill: url(#linear-gradient-dark-83);
}

.cls-dark-65 {
  fill: url(#linear-gradient-dark-53);
}

.cls-dark-66 {
  fill: url(#linear-gradient-dark-90);
}

.cls-dark-67 {
  fill: url(#linear-gradient-dark-85);
}

.cls-dark-68 {
  fill: url(#linear-gradient-dark-65);
}

.cls-dark-69 {
  fill: url(#linear-gradient-dark-36);
}

.cls-dark-70 {
  fill: url(#linear-gradient-dark-48);
}

.cls-dark-71 {
  fill: url(#linear-gradient-dark-49);
}

.cls-dark-72 {
  fill: url(#linear-gradient-dark-8);
}

.cls-dark-73 {
  fill: url(#linear-gradient-dark-47);
}

.cls-dark-74 {
  fill: url(#linear-gradient-dark-24);
}

.cls-dark-75 {
  fill: url(#linear-gradient-dark-26);
}

.cls-dark-76 {
  fill: url(#linear-gradient-dark-61);
}

.cls-dark-77 {
  fill: url(#linear-gradient-dark-18);
}

.cls-dark-78 {
  fill: url(#linear-gradient-dark-51);
}

.cls-dark-79 {
  fill: url(#linear-gradient-dark-30);
}

.cls-dark-80 {
  fill: url(#linear-gradient-dark-44);
}

.cls-dark-81 {
  fill: url(#linear-gradient-dark-84);
}

.cls-dark-82 {
  fill: url(#linear-gradient-dark-97);
}

.cls-dark-83 {
  fill: url(#linear-gradient-dark-68);
}

.cls-dark-84 {
  fill: url(#linear-gradient-dark-72);
}

.cls-dark-85 {
  fill: url(#linear-gradient-dark-29);
}

.cls-dark-86 {
  fill: url(#linear-gradient-dark-46);
}

.cls-dark-87 {
  fill: url(#linear-gradient-dark-64);
}

.cls-dark-88 {
  fill: url(#linear-gradient-dark-28);
}

.cls-dark-89 {
  fill: url(#linear-gradient-dark-56);
}

.cls-dark-90 {
  fill: url(#linear-gradient-dark-99);
}

.cls-dark-91 {
  fill: url(#linear-gradient-dark-10);
}

.cls-dark-92 {
  fill: url(#linear-gradient-dark-87);
}

.cls-dark-93 {
  fill: url(#linear-gradient-dark-70);
}

.cls-dark-94 {
  fill: url(#linear-gradient-dark-78);
}

.cls-dark-95 {
  fill: url(#linear-gradient-dark-86);
}

.cls-dark-96 {
  fill: url(#linear-gradient-dark-74);
}

.cls-dark-97 {
  fill: url(#linear-gradient-dark-4);
}

.cls-dark-98 {
  fill: url(#linear-gradient-dark-37);
}

.cls-dark-99 {
  fill: url(#linear-gradient-dark-80);
}

.cls-dark-100 {
  fill: url(#linear-gradien-darkt-79);
}

.cls-dark-101 {
  fill: url(#linear-gradien-darkt-75);
}
